/* You can add global styles to this file, and also import other style files */
@import "_fonts";
@import "_variables";
@import "_mixin";

* {
  font-family: "Noto Sans TC";
  margin: 0 auto;
  font-size: 18px;
}

body {
  background-color: var(--background);
  @include pc {
    background-color: var(--white);
  }
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.gradient {
  color: var(--white);
  background: linear-gradient(180deg, #35a483 0%, #077854 100%);
}

.shadow {
  background: #d9d9d9;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.11);
}

a {
  text-decoration: none;
  color: var(--black);
}

// alert 訊息專用
.alertTitle {
  font-size: 18px !important;
}

.alertConfirmButton {
  width: 229px;
  height: 56px;
  color: var(--white) !important;
  background: #1c8b6a !important;
  border-radius: 16px !important;
}
