<div class="container">
  <section class="banner">
    <div class="logo"></div>
    <div class="historyBtn"><a [routerLink]="'/history'">歷史紀錄</a></div>
  </section>

  <section class="uploadArea">
    <button type="button" class="gradient uploadBtn" (click)="uploader.click()">
      選擇檔案
      <input type="file" hidden #uploader (change)="onUpload($event)" />
    </button>
    <p class="uploadNote">(限10MB 內的PDF或JPG檔)</p>
    <div class="decorations">
      <div class="floor_1"></div>
      <div class="plant_1"></div>
      <div class="bag_1"></div>
      <div class="woman_1"></div>
      <div class="woman_2"></div>
      <div class="woman_3"></div>
    </div>
  </section>

  <section class="footer">小綠簽 &copy; Code: Junyu / Design: KT</section>
</div>
